/*Responsive Typography*/
@media (max-width: 992px) {
  html {
    font-size: 14px; } }

@media (max-width: 768px) {
  html {
    font-size: 12.5px; } }

@media (max-width: 576px) {
  html {
    font-size: 12px; } }

@media (max-width: 450px) {
  html {
    font-size: 11px; } }

@media (max-width: 1200px) {
  .delivery-section {
    height: 138vh; }
  .platform-diagram {
    margin-left: 80px; } }

@media (max-width: 992px) {
  .report-section {
    height: 75vh; }
  .report-section__title {
    line-height: 1.4; }
  .delivery-section {
    height: 135vh; }
  .platform-diagram {
    margin-left: 0px; }
  .platform-diagram {
    margin-left: 20px; } }

@media (max-width: 768px) {
  .report-section {
    height: 105vh;
    text-align: center; }
  .report-image {
    top: 50%;
    right: 8% !important;
    height: 350px; }
  .report-image {
    top: 300px;
    right: 15%;
    width: 36rem;
    height: 20rem; }
  .process-section {
    min-height: 550px; }
  .process-section__desc {
    padding-top: 60px; }
  .delivery-section {
    height: 240vh;
    margin: 0;
    min-height: 1450px; }
  .section-platform {
    height: 100vh;
    text-align: center; }
  .platform-diagram {
    margin-left: 0px; }
  .atomist-usage {
    height: 85vh;
    text-align: center; } }

@media (max-width: 1034px) {
  .sponsor-section {
    height: 45vh; } }

@media (max-width: 1010px) {
  .navbar > .navbar-nav {
    display: none; } }

@media (min-width: 1010px) {
  .nav-menu {
    display: none; } }

@media (max-width: 665px) {
  .header-section {
    min-height: 600px; }
  .sponsor-section {
    margin-top: 20px; } }

@media (max-width: 525px) {
  .sponsor-section {
    height: 60vh; }
  .delivery-section {
    height: 235vh; } }
