// Breakpoints
$xsm: 450px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*Responsive Typography*/
@media (max-width: $lg) {
  html {
    font-size: 14px;
  }
}

@media (max-width: $md) {
  html {
    font-size: 12.5px;
  }
}

@media (max-width: $sm) {
  html {
    font-size: 12px;
  }
}

@media (max-width: $xsm) {
  html {
    font-size: 11px;
  }
}

// END

@media (max-width: $xl) {

  // DELIVERY SECTION
  .delivery-section {
    height: 138vh;
  }

  // ATOMIST USAGE
  .platform-diagram {
    margin-left: 80px;
  }
}

// END

@media (max-width: $lg) {

  // BANNER
  .banner {
    background-position: 540px -2px;
  }

  // REPORT SECTION
  .report-section {
    height: 75vh;
  }

  .report-section__title {
    line-height: 1.4;
  }

  //DELIVERY SECTION
  .delivery-section {
    height: 135vh;
  }

  // ATOMIST USAGE
  .platform-diagram {
    margin-left: 0px;
  }

  .platform-diagram {
    margin-left: 20px;
  }
}

// END

@media (max-width: $md) {

  // BANNER SECTION
  .banner {
    background-size: 60%;
    background-position: 400px -2px !important;
  }

  .report-section {
    height: 105vh;
    text-align: center;
  }

  .report-image {
    top: 50%;
    right: 8% !important;
    height: 350px;
  }

  .report-image {
    top: 300px;
    right: 15%;
    width: 36rem;
    height: 20rem;
  }

  // PROCESS SECTION
  .process-section {
    min-height: 550px;
  }

  .process-section__desc {
    padding-top: 60px;
  }

  // DELIVERY SECTION
  .delivery-section {
    height: 240vh;
    margin: 0;
    min-height: 1450px;
  }

  // PLATFORM SECTION
  .section-platform {
    height: 100vh;
    text-align: center;
  }

  .platform-diagram {
    margin-left: 0px;
  }

  // ATOMIST USAGE
  .atomist-usage {
    height: 85vh;
    text-align: center;
  }

  // NEWS BANNER
  .news-banner {
    height: 85vh;
  }

  .banner-img {
    top: 240px;
    left: 50px;
    width: 35rem;
    height: 20rem;
  }

  // PEER SECTION
  .peer-connect {
    min-height: 1350px;
  }

  // FOOTER-SECTION
  .footer-section {
    height: 115vh;
    background-size: 200%;
  }
}

@media (max-width: 1034px) {
  .sponsor-section {
    height: 45vh;
  }
}

@media (max-width: 1010px) {
  .navbar>.navbar-nav {
    display: none;
  }
}

@media (min-width: 1010px) {
  .nav-menu {
    display: none;
  }
}

@media (max-width: 870px) {

  // BANNER SECTION
  .banner {
    background-position: 510px -2px
  }
}

@media (max-width: 665px) {

  // BANNER SECTION
  .header-section {
    min-height: 500px;
  }

  .banner {
    background-size: 80%;
    background-position: 250px -2px !important;
  }



  .sponsor-section {
    margin-top: 20px;
  }
}

@media (max-width: 525px) {
  .sponsor-section {
    height: 60vh;
  }

  .delivery-section {
    height: 235vh;
  }

}